body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    border: 0;
}

header{
    height: 164px;
    width: 100%;
    justify-content: center;
    display: inline-block;
    align-items: center;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: medium;
}

a{
    padding-top: 15px;
    padding-bottom: 10px;
    display: block;
    text-decoration: none;
    color: rgb(255, 209, 109);
    font-size: medium;
    height: 46px;
    font-family: 'Figtree', sans-serif;
}

.links.border-underline {
    position: relative;
    text-decoration: none;
}

.border-underline::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    height: 1px;
    background-color: rgb(255, 209, 109);
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
}

.border-underline:hover::before, .border-underline:focus::before {
    transform: scaleX(1);
}



nav #botaoNavegação{
    width: 10%;
    height: 50%;
}

:root {
    --hover: rgba(146, 152, 227, 1);
    --text-color: rgb(42, 51, 162);
    --border-color: #3498db;
    --color-hover: #ffe9c3;
}

  #botaoDeCima, #botaoDeBaixo{
    border-radius: 8px;
    display: inline-block;
    padding: 3px 16px;
    font-size: medium;
    color: var(--text-color);
    border: 2px solid var(--border-color);
    background-color: rgba(255, 224, 170, 0.5);
    cursor: pointer;
    transition: color 0.3s, box-shadow 0.3s;
  }

.botaozinho{
    display: inline-block;
    padding: 3px 16px;
    font-size: medium;
    color: var(--hover);
    border: 2px solid #545672;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
    transition: color 0.3s, box-shadow 0.3s;
}

  #botaoDeCima:hover, #botaoDeBaixo:hover,
  #botaoDeCima:focus, #botaoDeBaixo:focus,
  #diaEscolhido:hover, #diaEscolhido:focus,
  #envia:hover,
  #envia:focus, .botaozinho:hover, .botaozinho:focus {
    color: var(--color-hover);
    box-shadow: inset 0 0 0 2em var(--hover);
  }

#botaoDeCima{
    padding: 3px 18px;
    width: 100%;
    border: 1px solid #545672;
}
#botaoDeBaixo{
    padding: 3px 18px;
    width: 100%;
    border: 1px solid #545672;
}

#diaEscolhido, #envia{
    background: transparent;
    font-size: medium;
    color: var(--hover);
    border: 2px solid black;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
    transition: color 0.3s, box-shadow 0.3s;
}

#diaEscolhido{
    margin-top: 6px;
    padding: 3px 18px;
}

#envia{
    width: 100%;
    height: 28px;
}

.titulo{
    background-color: rgba(146, 152, 227, 0.15);
    height: 445px;
    align-items: center;
    justify-items: center;
    font-size: 200%;
}



main{
    height: 657px;
}
/*
#espaçoCalendario{
    width: 50%;
}*/

.flatpickr-calendar.animate.inline {
    font-size: x-large;
    height: 300px;
}


#espaçoHorarios{
    display: none;
    place-items: center;
}

#espaçoContainer{
    display: grid;
    place-items: center;
}

#espaçoContainer.show-grid{
    display: grid;
     grid-template-columns: repeat(2, 1fr);
}

footer{
    background-color: rgba(255, 202, 109, 0.25);
    height: 454px;
}

#conteudoFooterGrid{
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#icones{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

h1{
    color: #004085;
    font-family: 'Figtree', sans-serif;
}
h2{
    padding-left: 5%;
    color: #9298E3;
    font-family: 'Figtree', sans-serif;
}
h3{
    color: #FFCA6D;
    font-family: 'Figtree', sans-serif;
}
h4{
    font-family: 'Figtree', sans-serif;
}
p{
    font-family: 'Figtree', sans-serif;
}

table{
    border-collapse: collapse;
}

td,th{
    border: 1px solid black;
    padding: 10px 20px;
}

td:hover{
    background-color: darkgray;
}

.selecionado {
    background-color: #cce5ff;
    color: #004085;
}

#diaEscolhido{
    width: 100%;
    height: 32px;
}

.naoPode{
   text-decoration: line-through;;
}

#elementoConfirmação{
    display: none;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    max-width: 400px;
    padding: 20px;
    height: 200px;
    backdrop-filter: blur(200px);
    background-color: #ffcf72;
    z-index: 4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

@media (max-width: 600px) {
    #botaoDeCima{
        height: auto;
        width: 80px;
        font-size: 80%;
    }
    #botaoDeBaixo{
        height: 80;
        width: 80px;
        font-size: 80%;
    }
  }
  #espaçoContainer.show-grid{
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
  #espaçoHorarios{
    width: 100%;
  }
  @media (min-width: 900px) and (max-width: 911px){
    #botaoDeCima{
        height: 48px;
    }
    #botaoDeBaixo{
        height: 48px;
    }
  }
  @media (min-width: 600px) and (max-width: 2225px){
    #botaoDeCima{
        width: 160%;
    }
    #botaoDeBaixo{
        width: 160%;
    }
    #espaçoContainer.show-grid{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 15px;
      }
  }
  @media (max-width: 400px){
    .titulo{
        height: 540px;
    }
    #botaoDeCima{
        width: 140%;
        font-size: smaller;
    }
    #botaoDeBaixo{
        width: 140%;
        font-size: smaller;
    }
    a{
        font-size: smaller;
    }
  }
/*Abaixo de 836px de largura o titulo deve ser mudado de fonte para dar espaçao a uma margem nas laterais*/